<%- include("partials/header.ejs") %>
<div class="px-4 pt-5 my-4 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis">BLOGGRAM</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Welcome to Bloggram, A place deticated to share your Knowledge, Ideas and Thoughts to the people worldwide. Bloggram is built with the latest technologies to ensure users to have a Smooth, Responsive and Readable experience. I used Javascript, CSS, Bootstrap, EJS to build this web based application.</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="images/blogImg.png" class="img-fluid border rounded-3 shadow-lg" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>