<%- include("partials/header.ejs") %>
<div class="px-4 pt-5 my-4 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis"><span style="background: linear-gradient(135deg, #579ae2e9, #1d40ddc8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text;">BLOGGRAM</span></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Welcome to Bloggram, a premier global hub designed for sharing your expertise, ideas, and insights. 
        Engineered with modern technologies like JavaScript, CSS, Bootstrap, and EJS, this web application delivers a high-performance, responsive, and highly readable experience for creators worldwide.</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="images/blogImg.png" class="img-fluid border rounded-3 shadow-lg" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>