<%- include("partials/header.ejs") %>
<section id="create">
<div class="form-signin container shadow rounded-4 py-1 border border-primary border-4">
    <form action="/blogs" method="POST">
      <div class="form-floating my-3">
        <input type="name" class="form-control" id="floatingInput" name="blogger" placeholder="Your Name">
        <label for="floatingInput">Your Name</label>
      </div>
      <div class="form-floating my-3">
        <input type="text" class="form-control" id="floatingTitle" name="title" placeholder="Title of the Blog">
        <label for="floatingTitle">Title</label>
      </div>
      <div class="form-floating my-3">
        <textarea type="text" class="form-control" id="floatingComment" name="blog" placeholder="blog" style="height: 350px;"></textarea>
        <label for="floatingComment">Write your Blog here</label>
      </div>
      <button class="btn btn-primary w-100 mb-3 py-3 fw-bold" type="submit">Post the Blog</button>
    </form>
  </div>
</section>
<%- include("partials/footer.ejs") %>