<%- include("partials/header.ejs") %>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="images/blogHome.png" class="d-block mx-lg-auto img-fluid shadow-lg rounded-3" alt="Bloggram Home images" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to <span style="background: linear-gradient(135deg, #579ae2e9, #1d40ddc8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text;">Bloggram</span>!</h1>
      <p class="lead">Unleash your voice and inspire a global audience. Our platform empowers creators to turn their unique ideas into impactful stories.</p>
      <p class="lead">Don't hold back—your journey starts with a single post. Begin your first draft today and join a community of world-class thinkers.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/create" class="btn custom-btn fw-bold">✍️ Write your own Blog</a>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>