<%- include("partials/header.ejs") %>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="images/blogHome.png" class="d-block mx-lg-auto img-fluid shadow-lg rounded-3" alt="Bloggram Home images" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to BLOGGRAM!!!</h1>
      <p class="lead">A deticated place to share your Knowledge, Ideas and Thoughts to the people worldwide.</p>
      <p class="lead">Tell people what's on your thinking in your mind by clicking the button below.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/create" class="btn btn-primary p-4 fw-bold">Write your own Blog</a>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>