<%- include("partials/header.ejs") %>
<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
      </svg>
      <% if(locals.userName){ %>
        <h2 class="text-body-emphasis py-3">Feedback Submitted Successfully!</h2>
        <p class="col-lg-6 mx-auto mb-4">
          Thank you for your Valuable Feedback.
        </p>
        <form action="/" method="POST">
          <button class="btn btn-primary px-5 mb-5" type="submit">Go back to Home</button>
        </form>
      <% }else{ %>
        <h1 class="text-body-emphasis">Placeholder jumbotron</h1>
        <p class="col-lg-6 mx-auto mb-4">
          Thank you for your Valuable Feedback.
        </p>
        <form action="/" method="POST">
          <button class="btn btn-primary px-5 mb-5" type="submit">Go back to Home</button>
        </form>
      <% } %> 
    </div>
</div>
<%- include("partials/footer.ejs") %>