.gradient-background {
  background: linear-gradient(300deg, #79DAE8, #0AA1DD, #2155CD);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
}

header {
  min-height: 40px;
}

footer {
  min-height: 40px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background-color: #f1f6f7;
}

h1 {
  color: #020814;
}

.custom-btn {
    background-color: #0AA1DD; 
    color: #052f85; 
    border: none;
    transition: 0.3s; 
}

.custom-btn:hover {
    background-color: #7da9eed7; 
    color: #1565d6;
    cursor: pointer;  
}

